
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Start Writing your post</h1>
    
    <form action="/feed" method="POST">
        <textarea name="UserText" placeholder="What's on your mind?" rows="5" cols="30"></textarea><br>
       <input type="submit" value="Post">
    </form>
</body>
</html>