<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/edit/<%= ind %>" method="POST">
        <textarea name="updatedText" rows="6" cols="40"><%= existingText %></textarea>
        <input type="submit" value="save">
    </form>
</body>
</html>